.CreateEntry {
  margin-top: 10px;
}
.block {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.textArea {
  min-width: 400px;
  max-width: 600px;
  margin-bottom: 10px;
}

.btns {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 10px;
}

.entryAccess {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.access {
  color: white;
}
.custom_file_upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  background-color: white;
  margin-bottom: 10px;
  
}
